div .img-thumbnail {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
}

.absolute-top {
  position: relative;
  top: -65px;
  left: 100px;
  display: inline-block;
  flex-direction: column;
  z-index: 1;
}
