div .img-thumbnail {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
}

.absolute-top {
  position: relative;
  top: -65px;
  left: 100px;
  display: inline-block;
  flex-direction: column;
  z-index: 1;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 90px;
  height: 24px;
  padding: 2px 0;
  box-sizing: border-box;
  display: flex;
  animation: l5-0 3s infinite steps(6);
  background: linear-gradient(#000 0 0) 0 0/0% 100% no-repeat,
    radial-gradient(circle 3px, #eeee89 90%, #0000) 0 0/20% 100% #000;
  overflow: hidden;
}
.loader::before {
  content: "";
  width: 20px;
  transform: translate(-100%);
  border-radius: 50%;
  background: #ffff2d;
  animation: l5-1 0.25s 0.153s infinite steps(5) alternate,
    l5-2 3s infinite linear;
}
@keyframes l5-1 {
  0% {
    clip-path: polygon(
      50% 50%,
      100% 0,
      100% 0,
      0 0,
      0 100%,
      100% 100%,
      100% 100%
    );
  }
  100% {
    clip-path: polygon(
      50% 50%,
      100% 65%,
      100% 0,
      0 0,
      0 100%,
      100% 100%,
      100% 35%
    );
  }
}
@keyframes l5-2 {
  100% {
    transform: translate(90px);
  }
}
@keyframes l5-0 {
  100% {
    background-size: 120% 100%, 20% 100%;
  }
}

.nav-link {
  color: white;
}

/* footer {
  position: absolute;
  bottom: 0%;
  width: 100%;
} */

html,
body {
  min-height: 100vh;
  background-color: white;
  background-image: url("https://static.vecteezy.com/system/resources/previews/042/664/604/non_2x/calmness-in-circular-artistry-geometric-mandala-with-muted-tones-blank-horizontal-background-vector.jpg");
}

.bg {
  min-height: 100vh;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; /* Ubah ke relative */
  width: 100%;
  overflow: hidden; /* Untuk memastikan overlay tetap terlihat */
}

.bg::before {
  content: "";
  background-image: url("./img/opening.webp");
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Warna overlay gelap */
  z-index: 1; /* Pastikan overlay berada di atas background */
  pointer-events: none; /* Agar overlay tidak mengganggu klik */
}

@media (max-width: 1200px) {
  footer p {
    font-size: 1.1rem; /* Slightly smaller on medium screens */
  }
}

@media (max-width: 992px) {
  footer p {
    font-size: 1rem; /* Smaller on tablet-sized screens */
  }
}

@media (max-width: 768px) {
  footer p {
    font-size: 0.9rem; /* Smaller on mobile-sized screens */
  }
}

@media (max-width: 576px) {
  footer p {
    font-size: 0.8rem; /* Even smaller on smaller mobile screens */
  }

  #tbUndangan {
    font-size: 0.8rem;
  }

  #example {
    font-size: 0.8rem;
  }
}
